@{
    ViewBag.Title = "Campamentos";
}

<div data-ng-app="campamentos" data-ng-controller="campamentosController">
    <div class="row">
        <div class="col-sm-10">
            <h2 class=""><strong>@ViewBag.Title</strong></h2>
        </div>
        <div class="col-sm-2">
            <h2 class="text-primary text-center">
                <span class="glyphicon glyphicon-home"></span>
            </h2>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-10">
            <table id="tablaCampamentos" data-search="true" data-click-to-select="true"></table>
        </div>
        <div class="col-sm-2">
            <div class="btn-group-vertical">
                <a href="@Url.Action("Create")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Crear
                </a>
                <hr/>
                <a href="~/Campamentos/Details/{{CampamentoSeleccionado.id}}" class="btn btn-default" data-ng-class="{disabled : !CampamentoSeleccionado}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Ver
                </a>
                <a href="~/Campamentos/Edit/{{CampamentoSeleccionado.id}}" class="btn btn-default" data-ng-class="{disabled : !CampamentoSeleccionado}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Editar
                </a>
                <a href="~/Campamentos/Delete/{{CampamentoSeleccionado.id}}" class="btn btn-default" data-ng-class="{disabled : !CampamentoSeleccionado}">
                    <span class="glyphicon glyphicon-trash"></span>
                    Eliminar
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var app = angular.module('campamentos', []).controller('campamentosController', function ($scope, $http) {

            // Variables
            $scope.CampamentoSeleccionado = null;

            //Metodos
            $('#tablaCampamentos').bootstrapTable({
                url: '@Url.Action("Actualizar")',
                method:'post',
                showRefresh: true,
                pagination: true,
                pageSize: 25,
                pageList: [10, 25, 50, 100],
                idField: 'id',
                onClickRow: function (row,$element) {
                    $scope.CampamentoSeleccionado = row;
                    $scope.$apply();
                },
                columns: [{
                    radio: true,
                    width: "5%"
                }, {
                    field: 'name',
                    title: 'Campamento',
                    searchable: true,
                    sortable: true,
                    width: "45%"
                }, {
                    field: 'location',
                    title: 'Provincia',
                    searchable: true,
                    sortable: true,
                    formatter: establecerProvincia,
                    width: "45%"
                }, {
                    field: 'capacity',
                    title: 'Capacidad',
                    searchable: true,
                    sortable: true,
                    width: "10%"
                }]
            });

            function establecerProvincia(value, row) {
                var provincia = '';
                switch(value) {
                    case '1':
                        provincia = 'Bocas del Toro';
                        break;
                    case '2':
                        provincia = 'Coclé';
                        break;
                    case '3':
                        provincia = 'Colón';
                        break;
                    case '4':
                        provincia = 'Chiriquí';
                        break;
                    case '5':
                        provincia = 'Darién';
                        break;
                    case '6':
                        provincia = 'Herrera';
                        break;
                    case '7':
                        provincia = 'Los Santos';
                        break;
                    case '8':
                        provincia = 'Panamá';
                        break;
                    case '9':
                        provincia = 'Veraguas';
                        break;
                    case '10':
                        provincia = 'Panamá Oeste';
                        break;
                    case '11':
                        provincia = 'San Blas';
                        break;
                }
                return provincia;
            }
        });
    </script>
}